interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://adminmanagement.redmond.ext-n26r2105.masd.stbtest.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-06-01&$expand=kerb
  response:
    body:
      string: "{\r\n  \"keys\": [\r\n    {\r\n      \"keyName\": \"key1\",\r\n      \"value\":
        \"veryFakedStorageAccountKey==\",\r\n      \"permissions\": \"Full\"\r\n    },\r\n
        \   {\r\n      \"keyName\": \"key2\",\r\n      \"value\": \"veryFakedStorageAccountKey==\",\r\n
        \     \"permissions\": \"Full\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json
      www-authenticate:
      - oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRv/Yxtpb6TbQjzPo7yBbcr0MCAdptE3IYuXE/XHZ9jUKeWMoTXjmnkwUpRvwScOCylnhsPFOMuZr7A5IvcEAeJAGpZ0AlCzbEGcSmwF2lRAbwvM1RLtAChDpRmIXn0pP0OBl8i6ksOG6xYq5PCwJtl
      x-ms-ratelimit-remaining-subscription-writes:
      - '1055'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:25 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.redmond.ext-n26r2105.masd.stbtest.microsoft.com/cont000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D89BF27D483C55"'
      last-modified:
      - Wed, 09 Dec 2020 03:28:25 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:26 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.blob.redmond.ext-n26r2105.masd.stbtest.microsoft.com/cont000003/blob000004
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2018-11-09'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - AppendBlob
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:26 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.redmond.ext-n26r2105.masd.stbtest.microsoft.com/cont000003/blob000004
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D89BF27D7368FD"'
      last-modified:
      - Wed, 09 Dec 2020 03:28:26 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:26 GMT
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://clitest000002.blob.redmond.ext-n26r2105.masd.stbtest.microsoft.com/cont000003?restype=container&comp=list&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.blob.redmond.ext-n26r2105.masd.stbtest.microsoft.com/\"
        ContainerName=\"cont000003\"><MaxResults>5000</MaxResults><Blobs><Blob><Name>blob000004</Name><Properties><Creation-Time>Wed,
        09 Dec 2020 03:28:26 GMT</Creation-Time><Last-Modified>Wed, 09 Dec 2020 03:28:26
        GMT</Last-Modified><Etag>0x8D89BF27D756CF0</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding
        /><Content-Language /><Content-MD5 /><Cache-Control /><Content-Disposition
        /><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:26 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.blob.redmond.ext-n26r2105.masd.stbtest.microsoft.com/cont000003/blob000004
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D89BF27D756CF0"'
      last-modified:
      - Wed, 09 Dec 2020 03:28:26 GMT
      x-ms-blob-committed-block-count:
      - '1'
      x-ms-blob-type:
      - AppendBlob
      x-ms-creation-time:
      - Wed, 09 Dec 2020 03:28:26 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-None-Match:
      - '*'
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:26 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.blob.redmond.ext-n26r2105.masd.stbtest.microsoft.com/cont000003/blob000004
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - UnsatisfiableCondition
      x-ms-version:
      - '2018-11-09'
    status:
      code: 400
      message: The request includes an unsatisfiable condition for this operation.
version: 1
