interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://adminmanagement.redmond.ext-n26r2105.masd.stbtest.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2019-06-01
  response:
    body:
      string: "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\",\r\n    \"tier\":
        \"Standard\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"name\": \"clitest000002\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageaccounts/clitest000002\",\r\n
        \ \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"redmond\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"primaryEndpoints\":
        {\r\n      \"blob\": \"https://clitest000002.blob.redmond.ext-n26r2105.masd.stbtest.microsoft.com/\",\r\n
        \     \"queue\": \"https://clitest000002.queue.redmond.ext-n26r2105.masd.stbtest.microsoft.com/\",\r\n
        \     \"table\": \"https://clitest000002.table.redmond.ext-n26r2105.masd.stbtest.microsoft.com/\"\r\n
        \   },\r\n    \"primaryLocation\": \"redmond\",\r\n    \"statusOfPrimary\":
        \"Available\",\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"blob\":
        {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-12-09T03:28:22.5559119Z\"\r\n
        \       },\r\n        \"table\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\":
        \"2020-12-09T03:28:22.5559119Z\"\r\n        },\r\n        \"queue\": {\r\n
        \         \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-12-09T03:28:22.5559119Z\"\r\n
        \       }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n
        \   \"supportsHttpsTrafficOnly\": true,\r\n    \"creationTime\": \"2020-12-09T03:28:22.5559119Z\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json
      www-authenticate:
      - oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvuk9tpjA7TwErWxfK18T4Xps6nUrj1yZ43wtcb4Rle0Ds+gE60Rf1bupuTNIGhlscvyxVNS+4hFXjQ6BZgWv5P+stU1hTr6ash2wLNWyJxmS3jgC+HXFH6Vvubh5XSUQwN+o6K0Nm2LluBTop4DPG
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://adminmanagement.redmond.ext-n26r2105.masd.stbtest.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fake_group/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2019-06-01
  response:
    body:
      string: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group
        ''fake_group'' could not be found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://adminmanagement.redmond.ext-n26r2105.masd.stbtest.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/fake_account?api-version=2019-06-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Storage/storageaccounts/fake_account''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
version: 1
