interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://adminmanagement.redmond.ext-n26r2105.masd.stbtest.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-06-01&$expand=kerb
  response:
    body:
      string: "{\r\n  \"keys\": [\r\n    {\r\n      \"keyName\": \"key1\",\r\n      \"value\":
        \"veryFakedStorageAccountKey==\",\r\n      \"permissions\": \"Full\"\r\n    },\r\n
        \   {\r\n      \"keyName\": \"key2\",\r\n      \"value\": \"veryFakedStorageAccountKey==\",\r\n
        \     \"permissions\": \"Full\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json
      www-authenticate:
      - oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRv9GRFfQV8ig4Vs6AyCj4mRAnK/NT+p1wULYZHSnizGMPeJra0QTr4RpO7ml0uigweVUq9G5qkXmZppJcSllA4ZEbfwfKwbWxIPaFIK2m90rAk9BUf/ptjQ+d3yaboTXVScxy+eXgD67S4G0W+dNsU
      x-ms-ratelimit-remaining-subscription-writes:
      - '1051'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:40 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.redmond.ext-n26r2105.masd.stbtest.microsoft.com/cont000003?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D89BF28638F858"'
      last-modified:
      - Wed, 09 Dec 2020 03:28:40 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:41 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.redmond.ext-n26r2105.masd.stbtest.microsoft.com/cont000003/blob000004?comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D89BF2864D5D1E"'
      last-modified:
      - Wed, 09 Dec 2020 03:28:41 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-snapshot:
      - '2020-12-09T03:28:41.1668640Z'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:41 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.blob.redmond.ext-n26r2105.masd.stbtest.microsoft.com/cont000003/blob000004?snapshot=2020-12-09T03%3A28%3A41.1668640Z
  response:
    body:
      string: ''
    headers:
      content-md5:
      - DfvoqkwgtS4bi/PLbL3xkw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D89BF2864D5D1E"'
      last-modified:
      - Wed, 09 Dec 2020 03:28:41 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 09 Dec 2020 03:28:41 GMT
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
version: 1
