interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://adminmanagement.redmond.ext-n26r2105.masd.stbtest.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-06-01&$expand=kerb
  response:
    body:
      string: "{\r\n  \"keys\": [\r\n    {\r\n      \"keyName\": \"key1\",\r\n      \"value\":
        \"veryFakedStorageAccountKey==\",\r\n      \"permissions\": \"Full\"\r\n    },\r\n
        \   {\r\n      \"keyName\": \"key2\",\r\n      \"value\": \"veryFakedStorageAccountKey==\",\r\n
        \     \"permissions\": \"Full\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json
      www-authenticate:
      - oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRv93HeQADYvivYyMBuh0f/oYVjs/wi34fNA2+EHoLFs0IUOLI9JGqSzdjZ/gkevDEDHz6KdaP2OAQHxa1YbWHLWTenc2137V6uDRPYecuGS8CDId1zBHgkva68fQBxSL4NZtsAfLHofI/nLGkAZ0Cc
      x-ms-ratelimit-remaining-subscription-writes:
      - '1051'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:43 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.redmond.ext-n26r2105.masd.stbtest.microsoft.com/cont000004?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D89BF287883841"'
      last-modified:
      - Wed, 09 Dec 2020 03:28:43 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 03:29:40 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.blob.redmond.ext-n26r2105.masd.stbtest.microsoft.com/cont000004/blob000003
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2018-11-09'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 03:29:40 GMT
      x-ms-version:
      - '2018-11-09'
    method: HEAD
    uri: https://clitest000002.blob.redmond.ext-n26r2105.masd.stbtest.microsoft.com/cont000004/blob000003
  response:
    body:
      string: ''
    headers:
      content-md5:
      - DzQ7CTESaiDxM9Z8KwGKOw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D89BF2A9A0CDBB"'
      last-modified:
      - Wed, 09 Dec 2020 03:29:40 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Wed, 09 Dec 2020 03:29:40 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 03:29:40 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2018-11-09'
    method: GET
    uri: https://clitest000002.blob.redmond.ext-n26r2105.masd.stbtest.microsoft.com/cont000004/blob000003
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
