interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://adminmanagement.redmond.ext-n26r2105.masd.stbtest.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-06-01&$expand=kerb
  response:
    body:
      string: "{\r\n  \"keys\": [\r\n    {\r\n      \"keyName\": \"key1\",\r\n      \"value\":
        \"veryFakedStorageAccountKey==\",\r\n      \"permissions\": \"Full\"\r\n    },\r\n
        \   {\r\n      \"keyName\": \"key2\",\r\n      \"value\": \"veryFakedStorageAccountKey==\",\r\n
        \     \"permissions\": \"Full\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json
      www-authenticate:
      - oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvR9FLNrC0UlVJvXq8cjXCMPQi+bsH2wJ/iZ6nuha6uanqCVHjL3/LuXmDttUzZvA8BHrQP5IROnJ71qmxn23v/ZLUjfiFigEtxU5FRYe0LwyiJ/liui0cZStsEP1h5C5K1INc0Lm6PPDgbF6WO/rK
      x-ms-ratelimit-remaining-subscription-writes:
      - '1055'
    status:
      code: 200
      message: OK
- request:
    body: '{"TableName": "table000003"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      Prefer:
      - return-no-content
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:32 GMT
      x-ms-version:
      - '2017-04-17'
    method: POST
    uri: https://clitest000002.table.redmond.ext-n26r2105.masd.stbtest.microsoft.com/Tables
  response:
    body:
      string: ''
    headers:
      location:
      - https://clitest000002.table.redmond.ext-n26r2105.masd.stbtest.microsoft.com/Tables('table000003')
      preference-applied:
      - return-no-content
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:32 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.redmond.ext-n26r2105.masd.stbtest.microsoft.com/Tables('table000003')
  response:
    body:
      string: '{"TableName":"table000003"}'
    headers:
      content-type:
      - application/json;odata=nometadata;streaming=true;charset=utf-8
      dataserviceversion:
      - 3.0;
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "test", "value": "something", "binaryProperty": "AAECAwQF", "binaryProperty@odata.type":
      "Edm.Binary", "RowKey": "001", "PartitionKey": "001"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      Prefer:
      - return-no-content
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:32 GMT
      x-ms-version:
      - '2017-04-17'
    method: POST
    uri: https://clitest000002.table.redmond.ext-n26r2105.masd.stbtest.microsoft.com/table000003
  response:
    body:
      string: ''
    headers:
      etag:
      - W/"datetime'2020-12-09T03%3A28%3A32.9141931Z'"
      location:
      - https://clitest000002.table.redmond.ext-n26r2105.masd.stbtest.microsoft.com/table000003(PartitionKey='001',RowKey='001')
      preference-applied:
      - return-no-content
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:32 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.redmond.ext-n26r2105.masd.stbtest.microsoft.com/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.redmond.ext-n26r2105.masd.stbtest.microsoft.com/$metadata#table000003/@Element","odata.etag":"W/\"datetime''2020-12-09T03%3A28%3A32.9141931Z''\"","PartitionKey":"001","RowKey":"001","Timestamp":"2020-12-09T03:28:32.9141931Z","name":"test","value":"something","binaryProperty@odata.type":"Edm.Binary","binaryProperty":"AAECAwQF"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      dataserviceversion:
      - 3.0;
      etag:
      - W/"datetime'2020-12-09T03%3A28%3A32.9141931Z'"
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:33 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.redmond.ext-n26r2105.masd.stbtest.microsoft.com/table000003(PartitionKey='001',RowKey='001')?%24select=name
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.redmond.ext-n26r2105.masd.stbtest.microsoft.com/$metadata#table000003/@Element","odata.etag":"W/\"datetime''2020-12-09T03%3A28%3A32.9141931Z''\"","name":"test"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      dataserviceversion:
      - 3.0;
      etag:
      - W/"datetime'2020-12-09T03%3A28%3A32.9141931Z'"
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test", "value": "newval", "RowKey": "001", "PartitionKey": "001"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - 3.0;NetFx
      If-Match:
      - '*'
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:33 GMT
      x-ms-version:
      - '2017-04-17'
    method: MERGE
    uri: https://clitest000002.table.redmond.ext-n26r2105.masd.stbtest.microsoft.com/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: ''
    headers:
      etag:
      - W/"datetime'2020-12-09T03%3A28%3A33.3742428Z'"
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"cat": "hat", "RowKey": "001", "PartitionKey": "001"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - 3.0;NetFx
      If-Match:
      - '*'
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:33 GMT
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.table.redmond.ext-n26r2105.masd.stbtest.microsoft.com/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: ''
    headers:
      etag:
      - W/"datetime'2020-12-09T03%3A28%3A33.6962712Z'"
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:33 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.redmond.ext-n26r2105.masd.stbtest.microsoft.com/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:32087446-99ae-01e5-5d16-b174aa28f3a6\nTime:2020-12-09T03:28:34.0383017Z"}}}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      dataserviceversion:
      - 3.0;
      x-ms-version:
      - '2017-04-17'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:34 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.redmond.ext-n26r2105.masd.stbtest.microsoft.com/table000003()?%24top=1
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.redmond.ext-n26r2105.masd.stbtest.microsoft.com/$metadata#table000003","value":[{"odata.etag":"W/\"datetime''2020-12-09T03%3A28%3A34.1479065Z''\"","PartitionKey":"001","RowKey":"001","Timestamp":"2020-12-09T03:28:34.1479065Z","name":"test","value":"something","binaryProperty@odata.type":"Edm.Binary","binaryProperty":"AAECAwQF"}]}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      dataserviceversion:
      - 3.0;
      x-ms-continuation-nextpartitionkey:
      - 1!4!MDAy
      x-ms-continuation-nextrowkey:
      - 1!4!MDAy
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:34 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.redmond.ext-n26r2105.masd.stbtest.microsoft.com/table000003()?NextPartitionKey=1%214%21MDAy&NextRowKey=1%214%21MDAy
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.redmond.ext-n26r2105.masd.stbtest.microsoft.com/$metadata#table000003","value":[{"odata.etag":"W/\"datetime''2020-12-09T03%3A28%3A34.433401Z''\"","PartitionKey":"002","RowKey":"002","Timestamp":"2020-12-09T03:28:34.433401Z","name":"test2","value":"something2"}]}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      dataserviceversion:
      - 3.0;
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:34 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.redmond.ext-n26r2105.masd.stbtest.microsoft.com/Tables('table000003')
  response:
    body:
      string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:af7ae686-de37-0b6c-62dc-fa783fa064e0\nTime:2020-12-09T03:28:35.0539177Z"}}}'
    headers:
      content-type:
      - application/json;odata=nometadata;streaming=true;charset=utf-8
      dataserviceversion:
      - 3.0;
      x-ms-version:
      - '2017-04-17'
    status:
      code: 404
      message: Not Found
version: 1
