interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://adminmanagement.redmond.ext-n26r2105.masd.stbtest.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2019-06-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"sku\": {\r\n        \"name\":
        \"Standard_LRS\",\r\n        \"tier\": \"Standard\"\r\n      },\r\n      \"kind\":
        \"Storage\",\r\n      \"name\": \"updateadminaccount\",\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/system.redmond/providers/Microsoft.Storage/storageaccounts/updateadminaccount\",\r\n
        \     \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"location\":
        \"redmond\",\r\n      \"properties\": {\r\n        \"provisioningState\":
        \"Succeeded\",\r\n        \"primaryEndpoints\": {\r\n          \"blob\": \"https://updateadminaccount.blob.redmond.ext-n26r2105.masd.stbtest.microsoft.com/\",\r\n
        \         \"queue\": \"https://updateadminaccount.queue.redmond.ext-n26r2105.masd.stbtest.microsoft.com/\",\r\n
        \         \"table\": \"https://updateadminaccount.table.redmond.ext-n26r2105.masd.stbtest.microsoft.com/\"\r\n
        \       },\r\n        \"primaryLocation\": \"redmond\",\r\n        \"statusOfPrimary\":
        \"Available\",\r\n        \"encryption\": {\r\n          \"services\": {\r\n
        \           \"blob\": {\r\n              \"enabled\": true,\r\n              \"lastEnabledTime\":
        \"2020-12-06T17:19:33.4352273Z\"\r\n            },\r\n            \"table\":
        {\r\n              \"enabled\": true,\r\n              \"lastEnabledTime\":
        \"2020-12-06T17:19:33.4352273Z\"\r\n            },\r\n            \"queue\":
        {\r\n              \"enabled\": true,\r\n              \"lastEnabledTime\":
        \"2020-12-06T17:19:33.4352273Z\"\r\n            }\r\n          },\r\n          \"keySource\":
        \"Microsoft.Storage\"\r\n        },\r\n        \"supportsHttpsTrafficOnly\":
        false,\r\n        \"creationTime\": \"2020-12-06T17:19:33.4352273Z\"\r\n      }\r\n
        \   },\r\n    {\r\n      \"sku\": {\r\n        \"name\": \"Standard_LRS\",\r\n
        \       \"tier\": \"Standard\"\r\n      },\r\n      \"kind\": \"Storage\",\r\n
        \     \"name\": \"deploymentrp\",\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/system.redmond/providers/Microsoft.Storage/storageaccounts/deploymentrp\",\r\n
        \     \"type\": \"Microsoft.Storage/storageAccounts\",\r\n    [...]
