interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://adminmanagement.redmond.ext-n26r2105.masd.stbtest.microsoft.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-06-01&$expand=kerb
  response:
    body:
      string: "{\r\n  \"keys\": [\r\n    {\r\n      \"keyName\": \"key1\",\r\n      \"value\":
        \"veryFakedStorageAccountKey==\",\r\n      \"permissions\": \"Full\"\r\n    },\r\n
        \   {\r\n      \"keyName\": \"key2\",\r\n      \"value\": \"veryFakedStorageAccountKey==\",\r\n
        \     \"permissions\": \"Full\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json
      www-authenticate:
      - oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvoDA5V3vH1IV9pgsBeZAsA7it3Hu8nziWcTg6fHLhSw80eFdF5ib/nLnOYD4Cu+FNmQvXRq2xXnYCebBK+uskssOlYJx7e2lnF/0wxLCXXEpcY2DXE9sMahHQ9dS5YsN/pGxHe7i5aX+hiom3NVGs
      x-ms-ratelimit-remaining-subscription-writes:
      - '1058'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:25 GMT
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://clitest000002.queue.redmond.ext-n26r2105.masd.stbtest.microsoft.com/queue000003
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:25 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://clitest000002.queue.redmond.ext-n26r2105.masd.stbtest.microsoft.com/queue000003?comp=metadata
  response:
    body:
      string: ''
    headers:
      x-ms-approximate-messages-count:
      - '0'
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:26 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://clitest000002.queue.redmond.ext-n26r2105.masd.stbtest.microsoft.com/?comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.queue.redmond.ext-n26r2105.masd.stbtest.microsoft.com/\"><Queues><Queue><Name>queue000003</Name></Queue></Queues><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:26 GMT
      x-ms-meta-e:
      - f
      x-ms-meta-g:
      - h
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://clitest000002.queue.redmond.ext-n26r2105.masd.stbtest.microsoft.com/queue000003?comp=metadata
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>test message</MessageText></QueueMessage>'
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:26 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://clitest000002.queue.redmond.ext-n26r2105.masd.stbtest.microsoft.com/queue000003/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>1e4f5d71-8f30-497e-81a7-61a244a0916e</MessageId><InsertionTime>Wed,
        09 Dec 2020 03:28:26 GMT</InsertionTime><ExpirationTime>Wed, 16 Dec 2020 03:28:26
        GMT</ExpirationTime><PopReceipt>rCpEW9vN1gEAAAAA</PopReceipt><TimeNextVisible>Wed,
        09 Dec 2020 03:28:26 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:26 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://clitest000002.queue.redmond.ext-n26r2105.masd.stbtest.microsoft.com/queue000003/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>1e4f5d71-8f30-497e-81a7-61a244a0916e</MessageId><InsertionTime>Wed,
        09 Dec 2020 03:28:26 GMT</InsertionTime><ExpirationTime>Wed, 16 Dec 2020 03:28:26
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>new message!</MessageText></QueueMessage>'
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:26 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://clitest000002.queue.redmond.ext-n26r2105.masd.stbtest.microsoft.com/queue000003/messages/1e4f5d71-8f30-497e-81a7-61a244a0916e?popreceipt=I2BHbdvN1gEBAAAA&visibilitytimeout=1
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - pisQXNvN1gEBAAAA
      x-ms-time-next-visible:
      - Wed, 09 Dec 2020 03:28:28 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:29 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://clitest000002.queue.redmond.ext-n26r2105.masd.stbtest.microsoft.com/queue000003/messages?peekonly=true&numofmessages=32
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>1e4f5d71-8f30-497e-81a7-61a244a0916e</MessageId><InsertionTime>Wed,
        09 Dec 2020 03:28:26 GMT</InsertionTime><ExpirationTime>Wed, 16 Dec 2020 03:28:26
        GMT</ExpirationTime><DequeueCount>1</DequeueCount><MessageText>new message!</MessageText></QueueMessage><QueueMessage><MessageId>8a7025ef-2e25-4454-b7f6-870f62e55352</MessageId><InsertionTime>Wed,
        09 Dec 2020 03:28:29 GMT</InsertionTime><ExpirationTime>Wed, 16 Dec 2020 03:28:29
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>second message</MessageText></QueueMessage><QueueMessage><MessageId>fe5e3399-24b1-4675-94a2-2a897773bd9b</MessageId><InsertionTime>Wed,
        09 Dec 2020 03:28:29 GMT</InsertionTime><ExpirationTime>Wed, 16 Dec 2020 03:28:29
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>third message</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:29 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://clitest000002.queue.redmond.ext-n26r2105.masd.stbtest.microsoft.com/queue000003/messages/1e4f5d71-8f30-497e-81a7-61a244a0916e?popreceipt=377mbtvN1gECAAAA
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 09 Dec 2020 03:28:30 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://clitest000002.queue.redmond.ext-n26r2105.masd.stbtest.microsoft.com/queue000003?comp=metadata
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>QueueNotFound</Code><Message>The
        specified queue does not exist.\nRequestId:64042f6f-ce1a-061a-6d54-78d46a45ffce\nTime:2020-12-09T03:28:30.2977223Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - QueueNotFound
      x-ms-version:
      - '2018-03-28'
    status:
      code: 404
      message: The specified queue does not exist.
version: 1
